<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>PanelWall</string>
	<key>CFBundleExecutable</key>
	<string>PanelWall</string>
	<key>CFBundleGetInfoString</key>
	<string>Created with Processing</string>
	<key>CFBundleIconFile</key>
	<string>sketch.icns</string>
	<key>CFBundleIdentifier</key>
	<string>PanelWall</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PanelWall</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>JVMArguments</key>
	<array>
		<string>--image-width</string>
		<string>400</string>
		<string>--image-height</string>
		<string>300</string>
		<string>--num-panels-x</string>
		<string>1</string>
		<string>--num-panels-y</string>
		<string>1</string>
		<string>--screen-saver</string>
		<string>0</string>
		<string>--canvas-width</string>
		<string>250</string>
		<string>--canvas-height</string>
		<string>250</string>
		<string>--image-filename</string>
		<string>testing.jpg</string>
		<string>--no-panels</string>
		<string>True</string>
		<string>--update-mode</string>
		<string>0</string>
		<string>--lock-resolution</string>
		<string>True</string>
	</array>
	<key>JVMMainClassName</key>
	<string>PanelWall</string>
	<key>JVMOptions</key>
	<array>
		<string>-Djna.nosys=true</string>
		<string>-Djava.ext.dirs=$APP_ROOT/Contents/PlugIns/jdk1.8.0_202.jdk/Contents/Home/jre/lib/ext</string>
		<string>-Xdock:icon=$APP_ROOT/Contents/Resources/sketch.icns</string>
		<string>-Djava.library.path=$APP_ROOT/Contents/Java</string>
		<string>-Dapple.laf.useScreenMenuBar=true</string>
		<string>-Dcom.apple.macos.use-file-dialog-packages=true</string>
		<string>-Dcom.apple.macos.useScreenMenuBar=true</string>
		<string>-Dcom.apple.mrj.application.apple.menu.about.name=PanelWall</string>
		<string>-Dcom.apple.smallTabs=true</string>
	</array>
	<key>JVMRuntime</key>
	<string>jdk1.8.0_202.jdk</string>
	<key>LSArchitecturePriority</key>
	<array>
		<string>x86_64</string>
	</array>
	<key>LSEnvironment</key>
	<dict>
		<key>LC_CTYPE</key>
		<string>UTF-8</string>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.8.5</string>
	<key>LSUIPresentationMode</key>
	<integer>0</integer>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Your copyright here</string>
</dict>
</plist>
